@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body, html {
  font-family: "Poppins";
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  padding-top: 90px;
}

section {
  padding: 30px 0;
}

.navbar_checkbox {
  display: none;
}

.navbar_label {
  display: none;
}

.btn {
  padding: 10px 26px;
  border-radius: 5px;
  background-color: #02897A;
  color: #ffffff;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  transition: 0.3s;
}
.btn:hover {
  background-color: transparent;
  border-color: #02897A;
  color: #02897A !important;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 86px;
  padding: 20px 0;
}
.navbar > a {
  width: 160px;
}
.navbar > a img {
  width: 100%;
}
.navbar_content {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 60px 0 0;
}
.navbar_items {
  display: flex;
  align-items: center;
  gap: 24px;
}
.navbar_link {
  color: #22343D;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.8;
}
.navbar_link:hover {
  opacity: 1;
}
.navbar_btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.navbar_btns button {
  padding: 10px 26px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  transition: 0.3s;
}
.navbar .sing_in {
  color: #173A56;
  background-color: transparent;
  border: 1px solid #BCD0E5;
}
.navbar .sing_in:hover {
  background-color: #173A56;
  color: #BCD0E5;
  border-color: #173A56;
}
.navbar .dark_light {
  position: absolute;
  right: 0;
  top: 26px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}

@media screen and (max-width: 978px) {
  .navbar > a {
    width: 130px;
  }
  .navbar > a img {
    width: 100%;
  }
  .navbar_content {
    gap: 16px;
  }
  .navbar_items {
    gap: 16px;
  }
  .navbar_link {
    font-size: 14px;
  }
  .navbar_btns {
    gap: 16px;
  }
  .navbar_btns button {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 768px) {
  .navbar a img {
    width: 160px;
  }
  .navbar_items {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    right: -20px;
    top: 86px;
    background-color: rgba(255, 255, 255, 0.6470588235);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    width: 60vw;
    height: calc(100vh - 86px);
    padding: 40px 20px;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
  .navbar_content {
    padding-right: 100px;
  }
  .navbar .dark_light {
    right: 44px;
  }
  .navbar_checkbox:checked ~ .navbar_content .navbar_items {
    transform: translateX(0);
  }
  .navbar_link {
    font-size: 20px;
  }
  .navbar_btns {
    gap: 24px;
  }
  .navbar_label {
    display: block;
    position: absolute;
    right: 0;
    top: 30px;
  }
  .navbar .burger_menu {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .navbar .burger_menu span {
    width: 100%;
    height: 3px;
    background-color: #02897A;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  .navbar_checkbox:checked ~ .navbar_label .navbar_menu__top {
    transform: rotate(135deg);
    position: absolute;
    top: 11px;
    left: 0;
  }
  .navbar_checkbox:checked ~ .navbar_label .navbar_menu__center {
    transform: rotate(-135deg);
    position: absolute;
    top: 11px;
    left: 0;
  }
  .navbar_checkbox:checked ~ .navbar_label .navbar_menu__bottom {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .navbar_content {
    position: absolute;
    top: 86px;
    left: -20px;
    width: 100vw;
    padding: 20px;
    height: calc(100vh - 86px);
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6470588235);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .navbar_checkbox:checked + .navbar_content {
    transform: translateX(0);
  }
  .navbar_items {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    padding: 0;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    transform: translate(0);
    background-color: transparent;
    align-items: center;
    gap: 32px;
  }
}
.work {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work_text {
  max-width: 470px;
}
.work_text h1 {
  width: 100%;
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  color: #22343D;
}
.work_text p {
  font-size: 18px;
  line-height: 28px;
  color: #22343D;
  font-weight: 400;
  margin: 18px 0 45px 0;
}
.work_btns {
  display: flex;
  align-items: center;
  gap: 30px;
}
.work_btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
}
.work_btn a {
  color: #02897A;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.work .triangle {
  fill: #02897A;
}
.work_img {
  max-width: triangle;
}
.work_img img {
  width: 100%;
}

@media screen and (max-width: 978px) {
  .work {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .work_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 750px;
  }
  .work_text h1 {
    text-align: center;
    width: 60%;
  }
  .work_text p {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .work_text {
    max-width: 550px;
    font-size: 32px;
  }
  .work_text h1 {
    line-height: 42px;
    width: 80%;
  }
  .work_text p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 576px) {
  .work_text {
    max-width: 460px;
  }
  .work_text h1 {
    font-size: 28px;
    line-height: 32px;
  }
  .work_text p {
    margin: 16px 0 36px 0;
  }
  .work_btns {
    gap: 16px;
  }
}
.section_two {
  background-image: url(../images/icons/Bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product {
  padding: 50px 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
.product h2 {
  font-size: 32px;
  color: #22343D;
  max-width: 500px;
  text-align: center;
  line-height: 48px;
  font-weight: 900;
}
.product_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}
.product_card {
  width: 240px;
  height: 250px;
  background-color: rgba(170, 170, 170, 0.4);
  border-radius: 20px;
  padding: 20px;
}
.product_card img {
  border-radius: 20px;
  width: 50px;
  height: 50px;
}
.product_card h4 {
  color: #22343D;
  font-size: 22px;
  line-height: 32px;
  margin: 30px 0 13px 0;
}
.product_card p {
  font-size: 16px;
  color: #22343D;
  line-height: 26px;
}

@media screen and (max-width: 1100px) {
  .product_cards {
    justify-content: space-around;
  }
}
@media screen and (max-width: 576px) {
  .product h2 {
    font-size: 28px;
    line-height: 32px;
    max-width: 370px;
  }
}
.section_three {
  padding: 100px 0 50px 0;
}

.section_four {
  padding: 50px 0;
}

.section_five {
  padding: 50px 0 100px 0;
}

.management {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.management_text {
  max-width: 480px;
}
.management_text h5 {
  font-size: 16px;
  color: #22343D;
  line-height: 24px;
  margin-bottom: 12px;
}
.management_text h2 {
  font-size: 32px;
  color: #22343D;
  margin-bottom: 24px;
}
.management_text p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 26px;
}
.management_img {
  max-width: 540px;
}
.management_img img {
  width: 100%;
}
.management .checkbox_text {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
}
.management .checkbox_text p {
  line-height: 24px;
  margin: 0;
}

@media screen and (max-width: 978px) {
  .management {
    flex-direction: column;
  }
  .management_text {
    order: -5;
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .management_text h5, .management_text h2, .management_text p {
    text-align: center;
  }
  .checkbox_text {
    flex-direction: column;
    gap: 10px !important;
  }
}
@media screen and (max-width: 768px) {
  .management_text {
    max-width: 520px;
  }
}
@media screen and (max-width: 576px) {
  .management_text {
    max-width: 370px;
  }
  .management_text h2 {
    font-size: 28px;
  }
  .management_text p {
    font-size: 14px;
  }
}
.section_six {
  padding: 50px 0;
  background-image: url(../images/icons/Bg_2.svg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.quick {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
.quick h2 {
  font-size: 32px;
  color: #22343D;
}
.quick > p {
  max-width: 540px;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  margin-top: 20px;
}
.quick_process {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 24px;
}
.quick_proces {
  display: flex;
  align-items: center;
  max-width: 395px;
  width: 100%;
  gap: 16px;
}
.quick_proces span {
  background-image: url(../images/icons/Combined\ Shape\ \(1\).svg);
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 20px 20px 30px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quick_proces:nth-child(1) {
  display: flex;
  align-items: center;
  max-width: 395px;
  width: 100%;
  gap: 16px;
}
.quick_proces:nth-child(1) span {
  background-image: url(../../images/icons/Combined\ Shape.svg);
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 20px 20px 30px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .quick h2 {
    font-size: 28px;
  }
  .quick p {
    max-width: 370px;
    font-size: 14px;
  }
  .quick_proces {
    max-width: 340px;
  }
  .quick_proces span {
    font-size: 13px !important;
    padding: 15px 15px 20px 15px !important;
  }
}
.corusel {
  width: 100%;
}
.corusel h2 {
  font-size: 32px;
  color: #22343D;
  line-height: 42px;
}
.corusel p {
  font-size: 16px;
  line-height: 25px;
  color: #22343D;
  margin-top: 12px;
  margin-bottom: 32px;
}
.corusel_card {
  max-width: 340px;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
}
.corusel_card img {
  width: 100%;
}
.corusel_card:hover {
  background-color: #d3d3d3;
}
.corusel_text {
  padding: 24px;
}
.corusel_text span {
  font-weight: 700;
}
.corusel_text h3 {
  font-size: 24px;
  line-height: 40px;
}
.corusel_card:hover > .corusel_text * {
  color: #02897A !important;
}

@media screen and (max-width: 978px) {
  .corusel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .corusel h2 {
    text-align: center;
  }
  .corusel > p {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .corusel {
    width: 100%;
  }
  .corusel h2 {
    font-size: 28px;
  }
}
.section_seven {
  padding: 50px 0;
}

.table {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.table h2 {
  font-size: 32px;
  color: #22343D;
}
.table > p {
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  margin: 8px 0 44px 0;
}
.table_cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}
.table_card {
  width: 323px;
  height: 450px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
  box-shadow: 0 0 3px 5px rgba(83, 83, 83, 0.2);
  transition: 0.3s;
}
.table_card .btn {
  margin-top: 20px;
  border-radius: 10px;
}
.table_card:hover {
  border: none;
  background-color: #02897A;
}
.table_card:hover * {
  color: #fff;
}
.table_card:hover .dark_btn {
  background-color: #fff;
  color: #02897A;
  border: 1px solid transparent;
}
.table_card:hover .dark_btn:hover {
  border-color: #fff;
  background-color: transparent;
  color: #fff !important;
}
.table_card h3 {
  font-size: 24px;
  line-height: 40px;
  color: #22343D;
}
.table_card p {
  font-size: 16px;
  line-height: 40px;
  color: #22343D;
}
.table_card strong {
  font-size: 76px;
  color: #02897A;
  display: flex;
  align-items: center;
  gap: 12px;
}
.table_card strong p {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.table_card strong span {
  font-size: 16px;
  color: #AFAFAF;
  font-weight: 400;
  line-height: 16px;
}

@media screen and (max-width: 1100px) {
  .table_cards {
    justify-content: space-around;
    gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .table > h2 {
    font-size: 28px;
  }
}
.section_eight {
  padding: 50px 0;
}

.say {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.say h2 {
  font-size: 32px;
  line-height: 56px;
  color: #22343D;
  text-align: center;
}
.say > p {
  color: #22343D;
  font-size: 16px;
  line-height: 32px;
  max-width: 520px;
  text-align: center;
}
.say_cards {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.say_card {
  max-width: 327px;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  padding: 28px;
}
.say_card img {
  width: 105px;
}
.say_card p {
  font-size: 16px;
  line-height: 26px;
  color: #AFAFAF;
  margin: 16px 0;
}
.say_block {
  display: flex;
  align-items: center;
  gap: 14px;
}
.say_block img {
  width: 50px;
  height: 50px;
}
.say_block h4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #02897A;
  font-size: 16px;
}
.say_block h4 span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #22343D;
}

@media screen and (max-width: 1100px) {
  .say_cards {
    justify-content: space-around;
    gap: 40px 32px;
  }
}
@media screen and (max-width: 576px) {
  .say h2 {
    font-size: 28px;
  }
  .say p {
    font-size: 14px;
  }
}
.section_last {
  padding: 50px 0;
}

.last_content {
  border-radius: 32px;
  padding: 10px;
  background-color: #02897A;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 5px rgb(216, 216, 216);
}

.last_text {
  padding: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}
.last_text h2 {
  font-size: 32px;
  line-height: 48px;
  max-width: 510px;
  color: #ffffff;
}
.last_text .light_btn {
  border: 1px solid transparent;
  background-color: #ffffff;
  color: #02897A;
  padding: 12px 35px;
  border-radius: 5px;
  transition: 0.3s;
}
.last_text .light_btn:hover {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

@media screen and (max-width: 978px) {
  .last_content {
    flex-direction: column;
  }
  .last_text {
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .last_text h2 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (max-width: 480px) {
  .last_text h2 {
    font-size: 20px;
  }
}
.footer {
  padding: 50px 0;
}
.footer_block {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.footer_block > p {
  font-size: 18px;
  line-height: 30px;
  color: #22343D;
}
.footer_container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}
.footer_logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.footer_logo__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer_link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  background-color: rgba(155, 252, 240, 0.231372549);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.footer_link:hover {
  background-color: #09ebd1;
  box-shadow: 0 0 10px 6px #09ebd1;
}
.footer_icon {
  stroke: #02897A;
}
.footer_resource {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.footer_resource span {
  font-size: 16px;
  color: #22343D;
}
.footer_input {
  max-width: 325px;
}
.footer_input form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 34px;
}
.footer_input input {
  border: 2px solid rgba(0, 0, 0, 0.2509803922);
  width: 100%;
  height: 48px;
  border-radius: 5px;
  outline: none;
  padding: 0 10px;
  color: #22343D;
  background-color: transparent;
}
.footer_input .btn {
  margin-top: 20px;
}
.footer h3 {
  color: #22343D;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 978px) {
  .footer_container {
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-around;
  }
  .footer_input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer_input h3 {
    text-align: center;
  }
  .footer_input form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer_input label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .footer p {
    text-align: center;
    font-size: 16px;
    max-width: 350px;
  }
  .footer_container {
    flex-direction: column;
    align-items: center;
  }
  .footer_resource {
    align-items: center;
  }
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  display: none !important;
}

.dark {
  background-color: #02897A !important;
}
.dark .header {
  background-color: rgb(148, 148, 148);
}
.dark .navbar_link {
  color: #22343D !important;
  font-weight: 400;
  opacity: 0.8 !important;
}
.dark .navbar_link:hover {
  opacity: 1 !important;
}
.dark .sing_in {
  border: 1px solid #173A56 !important;
  color: #173A56 !important;
}
.dark .sing_in:hover {
  color: #BCD0E5 !important;
}
.dark .triangle {
  fill: #fff;
}
.dark .dark_btn {
  background-color: #ffffff;
  color: #02897A !important;
  border-color: transparent;
}
.dark .dark_btn:hover {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff !important;
}
.dark .quick h2, .dark .quick p, .dark .quick span {
  color: #02897A !important;
}
.dark .footer_link {
  background-color: #fff;
}
.dark .footer_link:hover {
  box-shadow: 0 0 10px 6px #fff;
}
.dark .table_card {
  background-color: #fff;
}
.dark .table_card p, .dark .table_card h3 {
  color: #22343D !important;
}
.dark .table_card strong {
  color: #02897A !important;
}
.dark .table_card strong p {
  color: #02897A !important;
}
.dark .table_card span {
  color: #AFAFAF !important;
}
.dark .table_card .dark_btn {
  background-color: #02897A;
  color: #fff !important;
}
.dark .table_card .dark_btn:hover {
  background-color: transparent;
  color: #02897A !important;
  border-color: #02897A;
}
.dark .table_card:hover {
  background-color: #02897A;
}
.dark .table_card:hover * {
  color: #fff !important;
}
.dark .table_card:hover .btn {
  background-color: #fff !important;
  color: #02897A !important;
}
.dark .table_card:hover .btn:hover {
  background-color: transparent !important;
  color: #ffffff !important;
  border-color: #ffffff;
}

.dark * {
  color: white !important;
}/*# sourceMappingURL=style.css.map */